@media screen and(max-width:1200px) {
    
}
@media (max-width:932px) {
    code {
        background-color: white;
        margin-left: 50px;
        margin-right: 50px;
        padding: 20px;
        padding-left: 20px;
        padding-right: 100px;
        font-size: 16pt;
    }
}
@media screen and(max-width:768px) {
    .logotip {
        display:none;
    }
}
@media (max-width:500px) {

    .optglava>p{
        padding-left: 0px;
    }

    .header_main{
        margin-top: 50px;
    }
    .header_main p {
        text-align: justify;
    }
    .logotip a{
        margin: auto;
    }
    .logotip img{
        display:none;
    }
    .logotip p {
        padding-left: 70px;
    }

    main>.side-panel{
        position: fixed;
        height: 400px;
        /* width: 400px; */
        background: grey;
        padding-top: 0px;
        /* height: 2000px; */
        width: 90%;
        background-color: #6161FA;
        padding-top: 10px;
        padding-bottom: 100%;
    }
    /* Оформление панели */
    #side-checkbox {
        display: none;
    }
    .side-panel {
        position: fixed;
        z-index: 999999;
        top: 0;
        left: -800px;
        overflow-y: scroll;
        transition: all 1s;   
        height: 1200px;
        box-shadow: 10px 0 20px rgba(0,0,0,0.4);
        color: #FFF;
        padding: 40px 20px;
    }
    .side-title {
        font-size: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 2px solid #BFE2FF;
    }
    /* Оформление кнопки на странице */
    .side-button-1-wr {
        text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
        width: 50px;
        display: flex;
        justify-content: center;
    }

    .side-b {
        color: #fff;
        font-size: 34px;
    }

    .side-button-1 {
        /* display: inline-block; */
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .side-button-1 .side-b  img{

        width: 50%;
        padding-top: 12.75px;

    }
    .side-button-1 .side-b:hover,
    .side-button-1 .side-b:active,
    .side-button-1 .side-b:focus {
        color: #FFF;
    }
    .side-button-1 .side-b:after,
    .side-button-1 .side-b:before {
        position: absolute;
        height: 4px;
        left: 50%;
        bottom: -6px;
        content: "";
        transition: all 280ms ease-in-out;
        width: 0;
    }
    .side-button-1 .side-open:after,
    .side-button-1 .side-open:before {
        background: rgb(117, 117, 117);
    }
    .side-button-1 .side-close:after,
    .side-button-1 .side-close:before {
        background: rgb(128, 128, 128);
    }
    .side-button-1 .side-b:before {
        top: -6px;
    }

    /* Переключатели кнопки 1 */
    .side-button-1 .side-close {
        display: none;
    }
    #side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-open {
        display: none;
    }
    #side-checkbox:checked + .side-panel + .side-button-1-wr .side-button-1 .side-close {
        display: block;
    }
    #side-checkbox:checked + .side-panel {
        left: 0;
    }
    /* Оформление кнопки на панеле */
    .side-button-2 {
        height: 30px;
        width: 30px;
        text-decoration: none;
        font-size: 30px;
        border-radius: 100%px;
        position: absolute;
        z-index: 3;
        top: 8px;
        right: 5px;
        cursor: pointer;
        display: flex;
        color: #ffffff;    
        transition: all 280ms ease-in-out;    
    }
    .side-button-2:hover  {

        color: transparent;   
    }
    

    label, label:hover, label:visited, label:after {
        color: transparent;   
        text-decoration: none;
    }

    header{
        display: flex;
        
    }
    .header-menu{
        position: fixed;
        right: 0px;
        margin-right: 20px;
        display: block;
    }
    #header-menu div {
        display:flex;
        justify-content: center;
        align-items:center;
        box-shadow: 0px 0px 5px #222;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        border: 2px solid #222;
        background-color: #6161FA
    }

    .header-menu button{
        margin-top: 12px;
        width: 25px;
        height: 25px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 3px solid green;
    }


    #header-menu {
        position: fixed;
        right: 2%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        gap: 10px;
    }

    .t1_1_4 {
        
        
        max-width: 70%;
        height: 100px;
        font-size: 4px;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        
    }
    .t1_1_4 tr, .t1_1_4  td, .t1_1_4  th{
        border: 1px solid;
    }
    .t2_1_4 {
        margin: auto;
        
        max-width: 60%;
        height: 100px;
        font-size: 8pt;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
    }
    .t2_1_4 tr, .t2_1_4  td, .t2_1_4  th{
        border: 1px solid;
    }
    .t3_1_4 {
        margin: auto;
        text-align:center;
        max-width: 60%;
        height: 150px;
        font-size: 8pt;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
    }
    .t3_1_4 tr, .t3_1_4  td, .t3_1_4  th{
        border: 1px solid;
    }
    .t4_1_4 {
        margin: auto;
        text-align:center;
        max-width: 60%;
        height: 150px;
        font-size: 8pt;
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
    }
    .t4_1_4 tr, .t4_1_4  td, .t4_1_4  th{
        border: 1px solid;
    }
    
    ol, li{
        font-family: Arial, Helvetica, sans-serif;
    }

    .ppt {
        display: flex;
        margin-bottom: 0px;
        justify-content: center;
    }

    .ppt iframe{
        width: 320px;
        height: 276px
    }
    

    @import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
/* ----------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

/* aside{
    position: fixed;
} */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

title{
    background-color: #222;
}

.header_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 5000px; */
    background-color: aliceblue;
    padding-left: 5px;
    padding-bottom: 50px;
}

.header_main>div>p{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.linia2{
    margin-top: -9px;
    border:2px solid gainsboro;
}

.header_main>h2{
    font-size: 20pt;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.header_main>p{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14pt;
}

.header_main>img{
    align-self: center;
    width: 50%;
}

.header_main>ol{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}
.header_main>ol>ul{
    padding: 10px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.a{
    text-align: center;
}

.header_main>video{
    width: 60%;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer>div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 10px;
}

footer>div p{
    height: 30px;
    color:cornflowerblue;
    text-align: right;
}
.ppt {
    display: flex;
    padding-bottom: 40px;
    justify-content: center;
}
code {
    background-color: white;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 8pt;
}
code img{
    width: 200px;
}
code>.green-text{
    color: #080;;
}
code>.red-text{
    color: red;
}
code>.blue-text{
    color:blue;
}
code>.yellow-text{
    background-color: yellow;
}

.line-code {
    display: flex;
    justify-content: center;
}

.line-code div{
    border-top:1px solid grey ;
    width: 85%;
    position: relative;
    bottom: 10px;
}
.input-text p{
    margin-top: -30px;
    font-family:'Open Sans', 'sans-serif';
    font-weight: bold;
}

i {
    font-weight: bold;
}
.side-button-2{
    background: none;
    border:none;
    outline:none;
    background-color: transparent;
}
}
@media screen and(max-width:320px) {
    #header-menu {
        position: fixed;
        right: 2%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        gap: 10px;
    }
    .side-panel {
        position: fixed;
        z-index: 999999;
        top: 0;
        left: -800px;
        overflow-y: scroll;
        transition: all 0.5s;   
        width: 0;
        height: 1200px;
        box-shadow: 10px 0 20px rgba(0,0,0,0.4);
        color: #FFF;
        padding: 0px 20px;
        padding-bottom: 200px;
    }
}
